.left-menu
    height: 100%
    padding: 10px
    background-color: #ffffff
    border-radius: 15px
.left_menu__switch-menu
    display: flex

.left_menu__switch-menu-button
    border-radius: 10px
    background-color: #127ff4
    color: #ffffff
    margin: 5px 5px 5px 0
    padding: 10px 17px 10px 17px
    &:active
        background-color: #127ff4d6
    p
        margin: 0

.left_menu__switch-menu-button__active
    background-color: #82b3e8
    border: 1px solid #000000

.room-adding
    display: flex
    margin-bottom: 15px
    input
        width: 100%
        border-radius: 5px
        margin-right: 5px
.room-adding__button
    height: 24px
    width: 50px
    border-radius: 5px
    background-color: #127ff4
    color: #ffffff
    display: flex
    align-items: center
    justify-content: center
    &:active
        background-color: #127ff4d6
